
body {
    margin: 0;
    font-family: fantasy;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }


  .navbar--section{
    border: 1px solid black;
    height: 70px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .navbar > div {
    display: flex;
    border: 1px solid red;
    align-items: center;
  }

  .nav--icon {
    width: 100px;
  }

  .nav--title {
    width: 500px;
  }

  .nav--link {
    width: 500px;
  }

  .nav--cart {
    width: 500px;
  }
