
body {
    margin: 0;
    font-family: fantasy;
    background-image: url("../Data/pokeBackground.jpg");
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
  }


  .navbar--section{
    height: 15vh;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar > * > img {
    height: 35px;
    width: 35px;
  }

  .nav--icon, .nav--link, .nav--cart {
    width: 10%;
    font-size: 20px;
  }

  .nav--title {
    width: 70%;
    font-size: 25px;
    font-weight: bold;
  }

  .nav--cart:hover {
    cursor: pointer;
  }
  .nav--title:hover {
    cursor: pointer;
  }

  .nav--link:hover {
    cursor: pointer;
    color: aqua;
  }



  /* -----Home Page ------ */

  .main--home {
    font-family: "Montserrat SemiBold";
    padding: 20px;
    height: 60vh;
  }

  .main--title {
    margin: 150px  ;
    font-size: 30px;
    font-weight: bold;
  }

  .main--title > p {
    padding: 15px;
    font-size: 22px;
  }


  .nav--link > *, .nav--title > * {
    color: whitesmoke;
    text-decoration: none;
  }