
/* --Shop-- */

.shopSection {
    width: 100%;
    height: 92vh;
    padding: 150px;
}



/* ---Card--- */


.cardSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.cardLayout > img {
    width: 250px;
    height: 250px;
}

.cardLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.4);
}

.cardPrice {
    font-size: 20px;
}

